
{% load static %}
<link rel="stylesheet" type="text/css" href="/static/css/style1.css">
<br/>
<hr/>
{% block content %}
	{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul> 
     {% endif %}
{% if user.is_authenticated %}
    <a href="{% url 'upimg:logout' %}" class="button">خروج</a>
{% else %}
    <a href="{% url 'upimg:register' %}" class="button ml-5" mt-4>ثبت نام</a>
    <a href="{% url 'upimg:login' %}" class="button">ورود</a>
{% endif %}
<table>
    <tr>
        {% for img in object_list %}
            
            <td>
                <h2>{{ img.title }}</h2>
                <p> {{img.user }} </p>
                <a href= "{% url 'upimg:detail' img.id %}"/>  <img src="{{ img.photo.url }}" alt="{{ img.title }}"></a>
            </td>
            {% if forloop.counter|divisibleby:3 %}
                </tr><tr>
            {% endif %}
        {% endfor %}
    </tr>
</table>    
{% endblock content %}
 </html>
